@model Transport

<div class="border rounded p-3 mb-3 shadow-sm">
    <div class="d-flex justify-content-between">
        <h3 class="mb-1">@Model.Model</h3>
        <h4 class="text-success">@Model.PricePerHour.ToString("c") / год.</h4>
    </div>
    
    <small class="text-muted">Категорія: @Model.Type</small>
    

    <div class="mt-2 text-end">
        <form asp-action="AddToCart" asp-controller="Cart" method="post">
            
            <input type="hidden" name="transportId" value="@Model.Id" />
            
            <input type="hidden" name="returnUrl" value="@(ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString)" />
            
            <button type="submit" class="btn btn-sm btn-primary">Орендувати</button>
        </form>
    </div>
</div>